<div class="container">
  <div class="row">
    <div>
      <button class="btn btn-primary" (click)="filtrarNoticias('politics')">
        Politics
      </button>
      <button class="btn btn-warning" (click)="filtrarNoticias('sport')">
        Sport
      </button>
      <button class="btn btn-success" (click)="filtrarNoticias('business')">
        Business
      </button>
      <button class="btn btn-primary" (click)="filtrarNoticias('books')">
        Books
      </button>
    </div>
    <div class="row">
      <!-- Cartas -->
      <div class="col" *ngFor="let item of noticiasFiltradas">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">{{ item.webTitle }}</h5>
            <h6 class="card-title">{{ item.sectionId }}</h6>
            <h6 class="card-title">{{ item.webPublicationDate }}</h6>
            <h6 class="card-title">Conocimientos</h6>
            <a [routerLink]="['/noticias', item.id]" class="btn btn-primary"
              >Ver Detalles</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
