<div class="container" style=" width:30%;margin-top: 5%;">
  <input type="text" placeholder="Nombre del alumno..." class="form-control" style="margin-bottom:2%;" #nombre />
  <input type="text" placeholder="Apellido del alumno..." class="form-control" style="margin-bottom:2%;" #apellido />
  <input type="number" min="15" max="99" placeholder="Edad del alumno..." class="form-control"
    style="margin-bottom:10%;" #edad />

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="1" #radio1
      (change)="cambioRadio($event)" />
    <label class="form-check-label" for="FP">FP</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="2" #radio2
      (change)="cambioRadio($event)" />
    <label class="form-check-label" for="Universidad">Universidad</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" value="3" #radio3
      (change)="cambioRadio($event)" />
    <label class="form-check-label" for="Bachiller">Bachiller</label>
  </div>

  <div [ngSwitch]="opcion" style="margin-top:10%;">
    <div *ngSwitchCase="1">
      <select class="form-control" style="margin-top: 10%;" #procedencia>
        <option *ngFor="let item of ciclos">{{item}}</option>
      </select>
      <div class="input-group" style="margin-top: 10%;">
        <select class="form-control" #destino>
          <option *ngFor="let item of ciclos">{{item}}</option>
        </select>
        <button class="btn btn-primary"
          (click)="agregarAlumno(nombre.value, apellido.value, edad.value, 'FP', procedencia.value, destino.value)">Confirmar</button>
      </div>
      <h3 style="margin-top:10%;">Hay {{contar("FP")}} alumnos en FP</h3>
    </div>
    <div *ngSwitchCase="2">
      <select class="form-control" style="margin-top: 10%;" #procedencia>
        <option *ngFor="let item of universidad">{{item}}</option>
      </select>
      <div class="input-group" style="margin-top: 10%;">
        <select class="form-control" #destino>
          <option *ngFor="let item of universidad">{{item}}</option>
        </select>
        <button class="btn btn-primary"
          (click)="agregarAlumno(nombre.value, apellido.value, edad.value, 'Universidad',procedencia.value, destino.value)">Confirmar</button>
      </div>
      <h3 style="margin-top:10%;">Hay {{contar("Universidad")}} alumnos en Universidad</h3>
    </div>
    <div *ngSwitchCase="3">
      <select class="form-control" style="margin-top: 10%;" #procedencia>
        <option *ngFor="let item of bachiller">{{item}}</option>
      </select>
      <div class="input-group" style="margin-top: 10%;">
        <select class="form-control" #destino>
          <option *ngFor="let item of bachiller">{{item}}</option>
        </select>
        <button class="btn btn-primary"
          (click)="agregarAlumno(nombre.value, apellido.value, edad.value, 'Bachiller', procedencia.value, destino.value)">Confirmar</button>
      </div>
      <h3 style="margin-top:10%;">Hay {{contar("Bachiller")}} alumnos en Bachiller</h3>
    </div>
    <div *ngSwitchDefault class="alert alert-primary" role="alert">
      Por favor selecciona estudios
    </div>
  </div>

</div>